<div class="col s12 l9 offset-l3">
  <div class="row header" [ngClass]="currency.code!='COP'?'no-margin':''">
    <div class="col s9 m7 offset-m1">
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" #search type="search" required (input)="onSearchChange($event.target.value)">
            <label class="label-icon" for="search"><i class="material-icons">search</i> </label>
            <i (click)="cleanSearchBar()" class="material-icons">close</i>
          </div>
        </form>
      </div>

    </div>

    <div class="col s3">
      <ul class="center-align">
        <li>
          <a class='dropdown-trigger' href='#' data-target='currencyDropdown'><img src="assets/images/flags/{{currency.img}}" alt=""></a>
        </li>
        <li class="hide-on-small-only">
          <a class='dropdown-trigger' href='#' data-target='viewDropdown'><i class="material-icons">{{view_icon}}</i></a>
        </li>
        <li class="">
          <a class='dropdown-trigger' href='#' data-target='sortByDropdown'><i class="material-icons">sort</i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="currency.code!='COP'" style="margin: 0;">
    <p class="right" ><i>Tasa de cambio: {{currency.sf | currency}} COL/{{currency.code}}</i></p>
  </div>

  <div class="row">
    <div *ngIf="!(view_table)">
      <div *ngFor="let product of listView" class="col s10 offset-s1 m6 l4">
        <app-product-card [product]="product" [listView]="listView" [productType]="id"></app-product-card>
      </div>
    </div>

    <div *ngIf="view_table" class="col m12">
      <table class="centered">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of listView">
            <td><img src="assets/images/products/{{product.image}}" class="center"></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{getPriceIn(product.id,listView,currency) | currency:currency.code:'code'}}</td>
            <td>
              <div *ngIf="wasAdded(product.id,addedProducts);then thenBlock;else elseBlock"></div>
              <ng-template #thenBlock>
                <a (click)="updateQuantity(addedProducts,product.id,-1,scStore)" class="btn-floating red"><i class="material-icons">remove</i></a>
                <span class="counter">{{getElementQuantity(product.id,addedProducts)}}</span>
                <a (click)="updateQuantity(addedProducts,product.id,1,scStore)" class="btn-floating red"><i class="material-icons">add</i></a>
              </ng-template>
              <ng-template #elseBlock>
                <a (click)="addProduct(product.id,scStore,productType)" class="btn red" [ngClass]="(product.inStock==0)?'disabled':''">Agregar</a>
              </ng-template>
            </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>



<ul id='currencyDropdown' class='dropdown-content'>
  <li *ngFor="let currencyItem of currenciesList"><a class="center-align" (click)="setCurrency(currencyItem.code,currenciesList,ccStore)"><img src="assets/images/flags/{{currencyItem.img}}">{{currencyItem.code}}</a></li>
</ul>

<ul id='viewDropdown' class='dropdown-content'>
    <li><a class="center-align valign-wrapper" (click)="viewTable(true)"><i class="material-icons">list</i>Lista</a></li>
    <li><a class="center-align valign-wrapper" (click)="viewTable(false)"><i class="material-icons">view_module</i>Grilla</a></li>
</ul>

<ul id='sortByDropdown' class='dropdown-content'>
  <li><a (click)="setSortType(1)">A-Z</a></li>
  <li><a (click)="setSortType(2)">Z-A</a></li>
  <li><a (click)="setSortType(3)">Más caro</a></li>
  <li><a (click)="setSortType(4)">Más barato</a></li>
</ul>
